<!DOCTYPE html>
<html lang="{{ meta.site.lang }}">
  <head>
    <meta charshet="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | {{ meta.site.name }}</title>
    <link rel="stylesheet" href="/css/main.css?{{ timestamp }}">
    <link rel="canonical" href="{{ meta.site.url }}{{ page.url }}">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+html">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    {% if description %}
      <meta name="description" content="{{ description }}">
    {% endif %}
    {% jsonLdScript meta, type %}
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header-logo">
          {{ meta.site.name }}
        </div>
        <nav class="header-nav">
          <ul>
            <li><a href="/">Home</a></li>
          </ul>
        </nav>
      </div>
    </header>
    {{ content | safe }}
    <footer class="footer">
      <div class="container">
        <div class="footer-copyright">&copy; 2023 {{ meta.site.name }}</div>
        <nav class="footer-links">
          <ul>
            <li><a href="/privacy">Privacy Policy</a></li>
          </ul>
        </nav>
      </div>
    </footer>
    <script src="/js/main.js?{{ timestamp }}" defer></script>
  </body>
</html>
