<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <meta charshet="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | {{ site.name }}</title>
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
